* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
    color: $color_black;
}

@mixin flex {
    display: flex;
    align-items: center;
}

body{
    @include flex();
    justify-content: center;
    background-color: $color_tomato;
    height: 100vh;
}

.wrap {
    width: 300px;
    padding: 30px 20px;
    border-radius: $border_radius_small;
    background-color: $color_gray;
}

.main_menu {
    width: 100%;
    padding: 0 10px;
    margin: 10px 0;
    font-size: 13px;
    cursor: pointer;

    & > .main_contents {
        @include flex();
        justify-content: space-between;
        width: 100%;
        height: 35px;
        padding: 0 10px;
        border-radius: $border_radius_small;
        background-color: $color_white;
        transition: all 1s;

        & > button {
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $color_darkblack;
    
            &::before, &::after {
                content: '';
                position: absolute;
                top: 50%;
                width: 2px;
                height: 8px;
                background-color: $color_white;
            }
    
            &::before {
                left: 7px;
                transform: translateY(-50%) rotate(325deg);
            }
    
            &::after {
                right: 7px;
                transform: translateY(-50%) rotate(35deg);
            }
        }
    }

}

.sub_menu_wrap {
    display: none;
    margin-top: 10px;
    padding: 0 10px;
    background-color: $color_white;
    border-radius: $border_radius_small;
    font-size: 13px;
}

.sub_menu {
    @include flex();
    justify-content: space-between;
    width: 100%;
    height: 35px;
    border-bottom: $border_color_gray;

    & > span {
        padding: 2px 12px;
        color: $color_white;
        border-radius: $border_radius_small;
        background-color: $color_green;
    }

}

