// border
$border_color_black: 1px solid #000;
$border_color_gray: 1px solid #f6f6f7;

// border-radius
$border_radius_small: 10px;

// color
$color_black: #000;
$color_darkblack: #635152;
$color_white: #fff;
$color_gray: #f6f6f7;
$color_tomato: #f6483b;
$color_green: #39ca9b;