* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6483b;
  height: 100vh;
}

.wrap {
  width: 300px;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: #f6f6f7;
}

.main_menu {
  width: 100%;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 13px;
  cursor: pointer;
}
.main_menu > .main_contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 1s;
}
.main_menu > .main_contents > button {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #635152;
}
.main_menu > .main_contents > button::before, .main_menu > .main_contents > button::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 2px;
  height: 8px;
  background-color: #fff;
}
.main_menu > .main_contents > button::before {
  left: 7px;
  transform: translateY(-50%) rotate(325deg);
}
.main_menu > .main_contents > button::after {
  right: 7px;
  transform: translateY(-50%) rotate(35deg);
}

.sub_menu_wrap {
  display: none;
  margin-top: 10px;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 13px;
}

.sub_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #f6f6f7;
}
.sub_menu > span {
  padding: 2px 12px;
  color: #fff;
  border-radius: 10px;
  background-color: #39ca9b;
}

h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.sub_menu_wrap > ul > li:last-of-type {
  border-bottom: none;
}

.active_btn {
  background-color: #f6483b;
}
.active_btn::before {
  left: 9px;
  transform: translateY(-50%) rotate(215deg);
}
.active_btn::after {
  right: 9px;
  transform: translateY(-50%) rotate(145deg);
}

.active {
  display: block;
}