@charset "utf-8";

@import './variable.scss';
@import './common.scss';
@import './component.scss';

h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.sub_menu_wrap > ul > li:last-of-type {
    border-bottom: none;
}

.active_btn {
    background-color: $color_tomato;

    &::before {
        left: 9px;
        transform: translateY(-50%) rotate(215deg);
    }

    &::after {
        right: 9px;
        transform: translateY(-50%) rotate(145deg);
    }
    
}

.active {
    display: block;
}